import pandas as pd
import numpy as np
import json
import requests

### Movies vote average 9 to 10

In [161]:
# movies vote average above 9  

movies_va_above_9 = pd.DataFrame()

for i in range(1,189): 
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page={i}&sort_by=popularity.desc&vote_average.gte=9&with_cast=%2C&with_crew=%2C&with_genres=%2C&with_keywords=%2C&with_original_language=en&with_runtime.gte=74"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }

    response = requests.get(url, headers=headers)
    abc1 = pd.DataFrame(response.json())['results']
    abc2  = pd.json_normalize(abc1)
    movies_va_above_9 = pd.concat([movies_va_above_9,abc2], ignore_index = True)
print("The loop ran", i, "times")

The loop ran 188 times

In [162]:
dump_data_va_above_9 = movies_va_above_9

In [166]:
dump_data_va_above_9['id'].duplicated().sum()

0

In [165]:
# movies vote average b/q 8 and 8.9  

movies_va_bw_8_8_9 = pd.DataFrame()

for i in range(1,188): 
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page={i}&sort_by=popularity.desc&vote_average.gte=8&vote_average.lte=8.9&with_cast=%2C&with_crew=%2C&with_genres=%2C&with_keywords=%2C&with_original_language=en&with_runtime.gte=74"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }

    response = requests.get(url, headers=headers)
    abc1 = pd.DataFrame(response.json())['results']
    abc2  = pd.json_normalize(abc1)
    movies_va_bw_8_8_9 = pd.concat([movies_va_bw_8_8_9,abc2], ignore_index = True)
print("The loop ran", i, "times")

The loop ran 187 times

In [167]:
dump_data_va_abw_8_8_9 = movies_va_bw_8_8_9

In [168]:
dump_data_va_abw_8_8_9['vote_average'].unique()

array([8.2, 8.1, 8.4, 8. , 8.3, 8.7, 8.5, 8.6, 8.8, 8.9])

In [169]:
# movies vote average b/q 7.1 and 7.9  

movies_va_bw_7_1__7_9 = pd.DataFrame()

for i in range(1,329): 
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page={i}&sort_by=popularity.desc&vote_average.gte=7.1&vote_average.lte=7.9&with_cast=%2C&with_crew=%2C&with_genres=%2C&with_keywords=%2C&with_original_language=en&with_runtime.gte=74"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }

    response = requests.get(url, headers=headers)
    abc1 = pd.DataFrame(response.json())['results']
    abc2  = pd.json_normalize(abc1)
    movies_va_bw_7_1__7_9 = pd.concat([movies_va_bw_7_1__7_9,abc2], ignore_index = True)
print("The loop ran", i, "times")

The loop ran 328 times

In [170]:
dump_data_va_abw_7_1_7_9 = movies_va_bw_7_1__7_9

In [171]:
dump_data_va_abw_7_1_7_9['vote_average'].unique()

array([7.3, 7.6, 7.2, 7.4, 7.5, 7.7, 7.8, 7.1, 7.9, 7. , 6.4])

In [173]:
# movies vote average 6.6 b/w  and 7  

movies_va_bw_6_6_and_7 = pd.DataFrame()

for i in range(1,472): 
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page={i}&sort_by=popularity.desc&vote_average.gte=6.6&vote_average.lte=7&with_cast=%2C&with_crew=%2C&with_genres=%2C&with_keywords=%2C&with_original_language=en&with_runtime.gte=74"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }

    response = requests.get(url, headers=headers)
    abc1 = pd.DataFrame(response.json())['results']
    abc2  = pd.json_normalize(abc1)
    movies_va_bw_6_6_and_7 = pd.concat([movies_va_bw_6_6_and_7,abc2], ignore_index = True)
print("The loop ran", i, "times")

The loop ran 471 times

In [174]:
dump_data_va_abw_6_6_7 = movies_va_bw_6_6_and_7

In [175]:
dump_data_va_abw_6_6_7['vote_average'].unique()

array([7. , 6.8, 6.9, 6.7, 6.6, 7.5, 7.8, 6.5])

In [176]:
dump_data_va_abw_6_6_7['id'].duplicated().sum()

0

In [177]:
# movies vote average 6.1 b/w  and 6.5

movies_va_bw_6_1_and_6_5 = pd.DataFrame()

for i in range(1,490): 
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page={i}&sort_by=popularity.desc&vote_average.gte=6.1&vote_average.lte=6.5&with_cast=%2C&with_crew=%2C&with_genres=%2C&with_keywords=%2C&with_original_language=en&with_runtime.gte=74"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }

    response = requests.get(url, headers=headers)
    abc1 = pd.DataFrame(response.json())['results']
    abc2  = pd.json_normalize(abc1)
    movies_va_bw_6_1_and_6_5 = pd.concat([movies_va_bw_6_1_and_6_5,abc2], ignore_index = True)
print("The loop ran", i, "times")

The loop ran 489 times

In [178]:
dump_data_va_abw_6_1_and_6_5 = movies_va_bw_6_1_and_6_5

In [179]:
dump_data_va_abw_6_1_and_6_5['vote_average'].unique()

array([6.4, 6.1, 6.5, 6.3, 6.2, 6.6, 6. , 5.8])

In [180]:
dump_data_va_abw_6_1_and_6_5['id'].duplicated().sum()

0

In [181]:
# movies vote average 5.7 b/w 6 and 

movies_va_bw_5_7_and_6 = pd.DataFrame()

for i in range(1,499): 
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page={i}&sort_by=popularity.desc&vote_average.gte=5.7&vote_average.lte=6&with_cast=%2C&with_crew=%2C&with_genres=%2C&with_keywords=%2C&with_original_language=en&with_runtime.gte=74"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }

    response = requests.get(url, headers=headers)
    abc1 = pd.DataFrame(response.json())['results']
    abc2  = pd.json_normalize(abc1)
    movies_va_bw_5_7_and_6 = pd.concat([movies_va_bw_5_7_and_6,abc2], ignore_index = True)
print("The loop ran", i, "times")

The loop ran 498 times

In [182]:
dump_data_va_and_5_7_and_6 = movies_va_bw_5_7_and_6

In [183]:
dump_data_va_and_5_7_and_6['vote_average'].unique()

array([5.8, 5.9, 6. , 5.7, 6.2, 6.3, 6.1, 6.5])

In [184]:
# movies vote average 5.1 b/w 5.6 and 

movies_va_bw_5_1_and_5_6 = pd.DataFrame()

for i in range(1,476): 
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page={i}&sort_by=popularity.desc&vote_average.gte=5.1&vote_average.lte=5.6&with_cast=%2C&with_crew=%2C&with_genres=%2C&with_keywords=%2C&with_original_language=en&with_runtime.gte=74"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }

    response = requests.get(url, headers=headers)
    abc1 = pd.DataFrame(response.json())['results']
    abc2  = pd.json_normalize(abc1)
    movies_va_bw_5_1_and_5_6 = pd.concat([movies_va_bw_5_1_and_5_6,abc2], ignore_index = True)
print("The loop ran", i, "times")

The loop ran 475 times

In [185]:
dump_data_va_and_5_1_and_5_6 = movies_va_bw_5_1_and_5_6

In [186]:
dump_data_va_and_5_1_and_5_6['vote_average'].unique()

array([5.5, 5.4, 5.2, 5.3, 5.6, 5.1, 7. ])

In [187]:
# movies vote average 4.6 b/w 5.6 and 

movies_va_bw_4_6_and_5 = pd.DataFrame()

for i in range(1,453): 
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page={i}&sort_by=popularity.desc&vote_average.gte=4.6&vote_average.lte=5&with_cast=%2C&with_crew=%2C&with_genres=%2C&with_keywords=%2C&with_original_language=en&with_runtime.gte=74"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }

    response = requests.get(url, headers=headers)
    abc1 = pd.DataFrame(response.json())['results']
    abc2  = pd.json_normalize(abc1)
    movies_va_bw_4_6_and_5 = pd.concat([movies_va_bw_4_6_and_5,abc2], ignore_index = True)
print("The loop ran", i, "times")

The loop ran 452 times

In [188]:
dump_data_va_and_4_6_and_5 = movies_va_bw_4_6_and_5

In [189]:
dump_data_va_and_4_6_and_5['vote_average'].unique()

array([4.6, 5. , 4.7, 4.9, 4.8, 5.3, 5.8])

In [190]:
# movies vote average 3.5 b/w 4.5 and 

movies_va_bw_3_5_and_4_5 = pd.DataFrame()

for i in range(1,493): 
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page={i}&sort_by=popularity.desc&vote_average.gte=3.5&vote_average.lte=4.5&with_cast=%2C&with_crew=%2C&with_genres=%2C&with_keywords=%2C&with_original_language=en&with_runtime.gte=74"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }

    response = requests.get(url, headers=headers)
    abc1 = pd.DataFrame(response.json())['results']
    abc2  = pd.json_normalize(abc1)
    movies_va_bw_3_5_and_4_5 = pd.concat([movies_va_bw_3_5_and_4_5,abc2], ignore_index = True)
print("The loop ran", i, "times")

The loop ran 492 times

In [191]:
dump_data_va_and_3_5_and_4_5 = movies_va_bw_3_5_and_4_5

In [192]:
dump_data_va_and_3_5_and_4_5['vote_average'].unique()

array([4.1, 3.6, 4. , 4.3, 4.4, 4.5, 4.2, 3.9, 3.7, 3.8, 3.5])

In [193]:
# movies vote average 1 b/w 3.4 and 

movies_va_bw_1_and_3_4 = pd.DataFrame()

for i in range(1,401): 
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page={i}&sort_by=popularity.desc&vote_average.gte=1&vote_average.lte=3.4&with_cast=%2C&with_crew=%2C&with_genres=%2C&with_keywords=%2C&with_original_language=en&with_runtime.gte=74"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }

    response = requests.get(url, headers=headers)
    abc1 = pd.DataFrame(response.json())['results']
    abc2  = pd.json_normalize(abc1)
    movies_va_bw_1_and_3_4 = pd.concat([movies_va_bw_1_and_3_4,abc2], ignore_index = True)
print("The loop ran", i, "times")

The loop ran 400 times

In [194]:
dump_data_va_and_1_and_3_4 = movies_va_bw_1_and_3_4

In [195]:
dump_data_va_and_1_and_3_4['vote_average'].unique()

array([3.3, 2.9, 2. , 1. , 2.4, 3.2, 2.8, 3.4, 2.7, 3. , 2.2, 2.3, 3.1,
       1.9, 2.1, 2.5, 2.6, 1.8, 1.7, 1.5, 1.3, 1.2, 1.4, 1.6, 1.1, 4.5])

In [196]:
# movies vote average 0.2 b/w 0.9 and 

movies_va_bw_0_2_and_0_9 = pd.DataFrame()

for i in range(1,7): 
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page={i}&sort_by=popularity.desc&vote_average.gte=0.2&vote_average.lte=0.9&with_cast=%2C&with_crew=%2C&with_genres=%2C&with_keywords=%2C&with_original_language=en&with_runtime.gte=74"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }

    response = requests.get(url, headers=headers)
    abc1 = pd.DataFrame(response.json())['results']
    abc2  = pd.json_normalize(abc1)
    movies_va_bw_0_2_and_0_9 = pd.concat([movies_va_bw_0_2_and_0_9,abc2], ignore_index = True)
print("The loop ran", i, "times")

The loop ran 6 times

In [197]:
dump_data_va_and_0_2_and_0_9 = movies_va_bw_0_2_and_0_9

In [198]:
dump_data_va_and_0_2_and_0_9['vote_average'].unique()

array([0.5, 0.8, 0.9])

In [199]:
# movies vote average 0 we will take as popularity asc and desc first desc 

movies_va_bw_0_with_popularity_d = pd.DataFrame()

for i in range(1,501): 
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page={i}&sort_by=popularity.desc&vote_average.gte=0&vote_average.lte=0.1&with_cast=%2C&with_crew=%2C&with_genres=%2C&with_keywords=%2C&with_original_language=en&with_runtime.gte=74"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }

    response = requests.get(url, headers=headers)
    abc1 = pd.DataFrame(response.json())['results']
    abc2  = pd.json_normalize(abc1)
    movies_va_bw_0_with_popularity_d = pd.concat([movies_va_bw_0_with_popularity_d,abc2], ignore_index = True)
print("The loop ran", i, "times")

The loop ran 500 times

In [200]:
dump_0_p_d = movies_va_bw_0_with_popularity_d

In [201]:
# movies vote average 0 we will take as popularity asc and desc second ince 

movies_va_bw_0_with_popularity_i = pd.DataFrame()

for i in range(1,501): 
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page={i}&sort_by=popularity.asc&vote_average.lte=0&with_cast=%2C&with_crew=%2C&with_genres=%2C&with_keywords=%2C&with_original_language=en&with_runtime.gte=74"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }

    response = requests.get(url, headers=headers)
    abc1 = pd.DataFrame(response.json())['results']
    abc2  = pd.json_normalize(abc1)
    movies_va_bw_0_with_popularity_i = pd.concat([movies_va_bw_0_with_popularity_i,abc2], ignore_index = True)
print("The loop ran", i, "times")

The loop ran 500 times

In [202]:
dump_0_p_i = movies_va_bw_0_with_popularity_i

### top rated movies

In [114]:
import requests
top_rated = pd.DataFrame()
for i in range(1,450): 

    url = f"https://api.themoviedb.org/3/movie/top_rated?language=en-US&page={i}"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }

    response = requests.get(url, headers=headers)
    
    abc1 = pd.DataFrame(response.json())['results']
    abc2  = pd.json_normalize(abc1)
    top_rated = pd.concat([top_rated,abc2], ignore_index = True)

In [115]:
top_rated_movies =top_rated

In [116]:
top_rated_movies

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",142.683,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.708,18970
1,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,110.139,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,1994-09-23,The Shawshank Redemption,False,8.705,24958
2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,81.257,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.589,11454
3,False,/3f92DMBTFqr3wgXpfxzrb0qv8nG.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,78.504,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.571,14800
4,False,/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",41.837,/ktejodbcdCPXbMMdnpI9BUxW6O8.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.548,4277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8960,False,/lcLyZzhB1ctfdH0hGBsTFrbflqP.jpg,"[28, 14, 27]",12142,en,Alone in the Dark,Edward Carnby is a private investigator specia...,13.162,/bSxrbVCyWW077zhtpuYlo3zgyug.jpg,2005-01-28,Alone in the Dark,False,3.228,550
8961,False,/6JU73g7sse2l3O93HwqYdGawyPA.jpg,"[28, 12, 878]",5491,en,Battlefield Earth,"In the year 3000, man is no match for the Psyc...",16.761,/wXCRuBHdJ5aTFQdsuGJFXNdo79T.jpg,2000-05-12,Battlefield Earth,False,3.223,760
8962,False,/aNUEHLNsNMprLZt6fjf5nqDq6er.jpg,"[27, 28, 53]",11059,en,House of the Dead,"Set on an island off the coast, a techno rave ...",10.937,/z2mDGbV4pLtsvSMNnmnSgoVZSWK.jpg,2003-04-11,House of the Dead,False,3.100,359
8963,False,/oHrrgAPEKpz0S1ofQntiZNrmGrM.jpg,"[28, 12, 14, 878, 53]",14164,en,Dragonball Evolution,"On his 18th birthday, Goku receives a mystical...",23.882,/23PcKOqNdhKeMFzORzQGn5eC44N.jpg,2009-03-12,Dragonball Evolution,False,2.892,1925
8964,False,/wDrs28ZYYnXVIeb87H0dCYlWiFA.jpg,"[53, 14, 10749, 27, 878]",40016,en,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,7.733,/gqmcAVNNUosB55RliecFYnkWT4M.jpg,2010-02-27,Birdemic: Shock and Terror,False,2.090,305

In [250]:
top_rated_movies['id'].duplicated().sum()

67

#### movies data for combine

In [203]:
movie_va_above_9 = dump_data_va_above_9

In [204]:
movie_va_bw_8_8_9 = dump_data_va_abw_8_8_9

In [205]:
movie_va_bw_7_1__7_9 = dump_data_va_abw_7_1_7_9

In [206]:
movie_va_bw_6_6_and_7 =dump_data_va_abw_6_6_7

In [207]:
movie_va_bw_6_1_and_6_5 = dump_data_va_abw_6_1_and_6_5

In [208]:
movie_va_bw_5_7_and_6 = dump_data_va_and_5_7_and_6

In [209]:
movie_va_bw_5_1_and_5_6 =dump_data_va_and_5_1_and_5_6

In [210]:
movie_va_bw_4_6_and_5 = dump_data_va_and_4_6_and_5

In [211]:
movie_va_bw_3_5_and_4_5 = dump_data_va_and_3_5_and_4_5

In [212]:
movie_va_bw_1_and_3_4 = dump_data_va_and_1_and_3_4

In [213]:
movie_va_bw_0_2_and_0_9 =dump_data_va_and_0_2_and_0_9

In [214]:
movie_va_bw_0_with_popularity_d = dump_0_p_d

In [215]:
movie_va_bw_0_with_popularity_i = dump_0_p_i

###  combine the all above tables

In [219]:
movies_data = pd.concat([movie_va_above_9,movie_va_bw_8_8_9,movie_va_bw_7_1__7_9,movie_va_bw_6_6_and_7,movie_va_bw_6_1_and_6_5,movie_va_bw_5_7_and_6,movie_va_bw_5_1_and_5_6, movie_va_bw_4_6_and_5,movie_va_bw_3_5_and_4_5,movie_va_bw_1_and_3_4,movie_va_bw_0_2_and_0_9,movie_va_bw_0_with_popularity_d,movie_va_bw_0_with_popularity_i],  ignore_index = True    )

In [248]:
movies_data['id'].duplicated().sum()

0

In [220]:
movies_data_with_popular_movies = pd.concat([movies_data,top_rated_movies], ignore_index = True)

In [249]:
movies_data_with_popular_movies['id'].duplicated().sum()

5850

In [221]:
movies_unclean = movies_data_with_popular_movies[['id','original_title','genre_ids','overview','poster_path','release_date']]

In [285]:
a = movies_unclean

In [286]:
a = a[['id','original_title','genre_ids','overview','poster_path']]

In [287]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108580 entries, 0 to 108579
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              108580 non-null  int64
 1   original_title  108580 non-null  object
 2   genre_ids       108580 non-null  object
 3   overview        108580 non-null  object
 4   poster_path     97730 non-null   object
dtypes: int64(1), object(4)
memory usage: 4.1+ MB

In [288]:
a.describe()

                 id
count  1.085800e+05
mean   3.935551e+05
std    3.556213e+05
min    5.000000e+00
25%    7.795250e+04
50%    2.900495e+05
75%    6.357712e+05
max    1.208191e+06

In [289]:
a.isna().sum()

id                    0
original_title        0
genre_ids             0
overview              0
poster_path       10850
dtype: int64

In [241]:
a['id'].duplicated().sum()  # there are the duplicate count ( also this is for checking the data)

5850

In [245]:
b =a[a['id'].duplicated()]  # to see the duplicate values

In [262]:
c =b['id'].value_counts().reset_index()

In [263]:
c.columns = ['id', 'count']

In [267]:
c.groupby('count')['id'].count()

count
1    5758
2      46
Name: id, dtype: int64

In [272]:
a['id'].duplicated().sum()  # for checking the duplicate

5850

In [290]:
a.isna().sum()            # for cheking the missing value

id                    0
original_title        0
genre_ids             0
overview              0
poster_path       10850
dtype: int64

In [291]:
a.duplicated(subset=['id', 'original_title']).sum()

5850

In [292]:
remove_duplicated_movies =a.drop_duplicates(subset=['id', 'original_title'], keep = 'first')    # if i use a.drop_duplicates() this it will give unhashable type: 'list' so we use subset of data

In [293]:
remove_duplicated_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102730 entries, 0 to 108572
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              102730 non-null  int64
 1   original_title  102730 non-null  object
 2   genre_ids       102730 non-null  object
 3   overview        102730 non-null  object
 4   poster_path     91880 non-null   object
dtypes: int64(1), object(4)
memory usage: 4.7+ MB

In [294]:
remove_duplicated_movies.isna().sum()

id                    0
original_title        0
genre_ids             0
overview              0
poster_path       10850
dtype: int64

In [296]:
dup_na_removed_movies   = remove_duplicated_movies.dropna()

In [316]:
dup_na_removed_movies   # now need to rest the index

,id,original_title,genre_ids,overview,poster_path
0,1180383,Christmas Keepsake,"[10770, 35, 10749]",A father bonds with his daughter and stumbles ...,/v5BbHTclunUKnEEwynuyPdpqNVI.jpg
1,1180814,Navigating Christmas,"[10770, 35, 18, 10749]",Recently divorced Melanie brings her son to a ...,/lhymboC8cUSr2thd1P0VJjvGgHw.jpg
2,1105832,Simón,[18],"Simón, a Venezuelan freedom fighter exiled in ...",/tPCdIugHiE5wcy4EAwO9wtxFeg3.jpg
3,1036350,An Amish Sin,[18],Rachel is an Amish teen who refuses to obey he...,/zjNoVOSk1alE9W37uB0S0cQlH5H.jpg
4,1015080,Satanic Hispanics,"[27, 53, 35]","When police raid a house in El Paso, they find...",/8oRsWDVKBiLE7laQLH6uwgmKioE.jpg
...,...,...,...,...,...
108553,248705,Les Visiteurs: La Révolution,[35],"Stuck in the corridors of time, Godefroy de Mo...",/z2AV9HgEjTPwY2FMzyqI36Wdqb7.jpg
108556,21435,Les Bronzés 3 : Amis pour la vie,[35],"After the Club Med and skiing, what happened t...",/9g7z9WG6MS3Q8cYfxTTBC4Ckm9A.jpg
108563,419507,Fuga da Reuma Park,[35],"Old and forgotten, comedian Aldo is brought by...",/gS6lW5OVa29noaS9IS9YWxeITXY.jpg
108567,238930,Fuga di cervelli,[35],Five deadbeat friends forge their resume to en...,/kfZXag3DkaHfakSrojG92C2R2Gy.jpg
108572,10870,Les Dalton,"[35, 37]",Joe and Averell are the eldest and youngest of...,/mWQR9eGbf9dTiceypaGKmVXzRVE.jpg

In [319]:
dup_na_removed_movies.reset_index(inplace = True)

In [320]:
dup_na_removed_movies.isna().sum()

index             0
id                0
original_title    0
genre_ids         0
overview          0
poster_path       0
dtype: int64

In [321]:
movies_id = dup_na_removed_movies['id']

In [322]:
movies_id

0        1180383
1        1180814
2        1105832
3        1036350
4        1015080
          ...
91875     248705
91876      21435
91877     419507
91878     238930
91879      10870
Name: id, Length: 91880, dtype: int64

### genres data

In [299]:
import requests

url = "https://api.themoviedb.org/3/genre/movie/list?language=en"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
}

response = requests.get(url, headers=headers)

#print(response.text)
genres_data  = pd.DataFrame.from_dict((response.json())["genres"])
genres_data

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [325]:
import requests
keyword_data =pd.DataFrame()
for i in movies_id:
    url = f"https://api.themoviedb.org/3/movie/{i}/keywords"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }

    response = requests.get(url, headers=headers)
    b = pd.DataFrame(response.json())
    keyword_data = pd.concat([keyword_data,b], ignore_index = True)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [326]:
keyword_data

            id                                        keywords
0      1180383             {'id': 207317, 'name': 'christmas'}
1      1180814                   {'id': 65, 'name': 'holiday'}
2      1180814             {'id': 207317, 'name': 'christmas'}
3      1036350              {'id': 516, 'name': 'child abuse'}
4      1036350     {'id': 9672, 'name': 'based on true story'}
...        ...                                             ...
29055   129670      {'id': 163798, 'name': 'lincoln nebraska'}
29056   129670              {'id': 191008, 'name': 'nebraska'}
29057   129670           {'id': 192786, 'name': 'sweepstakes'}
29058   129670         {'id': 196911, 'name': 'estranged son'}
29059   129670  {'id': 199947, 'name': 'confronting the past'}

[29060 rows x 2 columns]

In [359]:
keyword_id_movies =  keyword_data['id'].unique()

In [362]:
keyword_id_movies

array([1180383, 1180814, 1036350, ...,   38602,   24748,  129670],
      dtype=int64)

0       1180383
1       1180814
3       1036350
4       1015080
6       1198680
         ...
7908     319600
7909        343
7910      38602
7911      24748
7912     129670
Name: id, Length: 4401, dtype: int64

### actor and director data

In [331]:
uncomman_movies_id

0        True
1        True
2        True
3        True
4        True
         ...
29055    True
29056    True
29057    True
29058    True
29059    True
Name: id, Length: 29060, dtype: bool

In [323]:
import requests
actor_d =pd.DataFrame()

for i in movies_id :
    url = f"https://api.themoviedb.org/3/movie/{i}/credits?language=en-US"
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }
    response = requests.get(url, headers=headers)
    #if response.status_code == 200 :
    
    id   = response.json()['id']

    id = pd.DataFrame({'id': [id]})

    crew = (pd.DataFrame(response.json()['crew']))[['original_name','job']]
    Directors =   crew[crew['job'] == 'Director']['original_name']
    Director  = ','.join(Directors)
    Director = pd.DataFrame({'Director': [Director]})

    cast = pd.DataFrame(response.json()['cast'])[0:3]['original_name']
    Top_3_Actors = ','.join(cast)

    Top_3_Actor = pd.DataFrame({'Top_3_Actor' : [Top_3_Actors]})

    Movies_details = pd.concat([id,Director, Top_3_Actor], axis = 1 )   
    actor_d =pd.concat([actor_d,Movies_details], ignore_index = True)
    

actor_d

KeyError: 'original_name'

In [324]:
actor_d

,id,Director,Top_3_Actor
0,1180383,Colin Budds,"Jillian Murray,Daniel Lissing,Ellie Stewart"
1,1180814,Peter Benson,"Chelsea Hobbs,Stephen Huszar,Lindsay Gibson"
2,1105832,Diego Vicentini,"Christian McGaffney,Jana Nawartschi,Luis Silva"
3,1036350,Michael Nankin,"Kellie Martin,Rukiya Bernard,Dylan Ratzlaff"
4,1015080,"Eduardo Sánchez,Mike Mendez,Alejandro Brugués,...","Greg Grunberg,Patricia Velásquez,Efren Ramirez"
5,1175681,"Marco Deufemia,Paula Tiberius","Franco Lo Presti,Emily Alatalo,Lindura"
6,1198680,Barbara Shearer,John F. Kennedy
7,1132388,Jason Bourque,"Nikki DeLoach,April Telek,Lucas Bryant"
8,1142771,Robin Dunne,"Christopher Russell,Laura Osnes,Lam An"
9,1169515,Bobby Huntley,"Drew Sidora,Robert Christopher Riley,Erica Pee..."
10,1184790,Brittany Underwood,"Jenna Dewan,Steve Kazee,Rachel Lindsay"
11,1128258,,"Zak Bagans,Aaron Goodwin,Jay Wasley"
12,848367,Rob Schneider,"Rob Schneider,Jackie Sandler,Miranda Schneider"
13,551684,Alan Metzger,"Edward Woodward,Telly Savalas,Keith Szarabajka"
14,760774,James Hawes,"Anthony Hopkins,Johnny Flynn,Helena Bonham Carter"
15,340932,Richard C. Sarafian,"Michael Nouri,Brian Benben,Joe Penny"
16,887394,,"Zak Bagans,Aaron Goodwin,Billy Tolley"
17,649144,Michael Blackwood,"Donald Trump,Ed Koch,Jane Jacobs"
18,1035253,"Paul Middleditch,Hamish Bennett","Julian Dennison,Minnie Driver,Rhys Darby"
19,779816,Marc Forster,"Ariella Glaser,Orlando Schwerdt,Bryce Gheisar"
20,445684,Yaron Betan,"Neal Adams,Rob Liefeld,Ty Templeton"

### let do it for only top rated movies and movies have vote avaeage from 7.1 to 10

In [363]:
movie_va_above_9

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/yDZMgORAmnNZax2goF6S9S5Jkaf.jpg,"[10770, 35, 10749]",1180383,en,Christmas Keepsake,A father bonds with his daughter and stumbles ...,50.860,/v5BbHTclunUKnEEwynuyPdpqNVI.jpg,2023-11-11,Christmas Keepsake,False,9.0,2
1,False,/cOyVMNbUeQ25LGjoaygX00MiIGF.jpg,"[10770, 35, 18, 10749]",1180814,en,Navigating Christmas,Recently divorced Melanie brings her son to a ...,26.855,/lhymboC8cUSr2thd1P0VJjvGgHw.jpg,2023-11-17,Navigating Christmas,False,9.0,2
2,False,/sb6YO8QwlJYJZCYroVWV0psNmXL.jpg,[18],1105832,en,Simón,"Simón, a Venezuelan freedom fighter exiled in ...",29.400,/tPCdIugHiE5wcy4EAwO9wtxFeg3.jpg,2023-04-15,Simón,False,10.0,1
3,False,/s9hcrGnyVxI0yfQXm5olh3LadOG.jpg,[18],1036350,en,An Amish Sin,Rachel is an Amish teen who refuses to obey he...,16.811,/zjNoVOSk1alE9W37uB0S0cQlH5H.jpg,2022-10-29,An Amish Sin,False,9.0,4
4,False,/ncbT2hBlge60umfN904qkkVpm0E.jpg,"[27, 53, 35]",1015080,en,Satanic Hispanics,"When police raid a house in El Paso, they find...",15.638,/8oRsWDVKBiLE7laQLH6uwgmKioE.jpg,2023-09-14,Satanic Hispanics,False,10.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3742,False,None,[99],28378,en,The Blizzard of AAHHH's,Greg Stump's rockumentary-style ski film inspi...,0.620,/e8HiYzg1mQkb6P3VcPrIOHJylqP.jpg,1988-01-01,The Blizzard of AAHHH's,False,9.5,1
3743,False,None,[10402],25929,en,"Keith Urban: Love, Pain & the Whole Crazy Worl...","Live from Lexington, Kentucky, USA Keith Urban...",0.600,None,2008-11-11,"Keith Urban: Love, Pain & the Whole Crazy Worl...",False,9.0,2
3744,False,None,[10402],16856,en,Qlimax 2008,"Qlimax is an annual hardstyle event, held at t...",0.600,/1KxrjeAGDpQHrQO78D39p6tcHq.jpg,2009-02-26,Qlimax 2008,False,9.0,1
3745,False,None,[10402],13760,en,The Nutcracker,The Nutcracker is Mikhail Baryshnikov's breath...,1.400,/xR05q8yFxHZKcYj667RTjB5oBRw.jpg,1977-12-16,The Nutcracker,False,9.1,5
3746,False,None,[18],1861,en,Take The Bridge,Take The Bridge is a 2007 independent film fro...,0.622,/tSH2vznwQn5Oc4WccBYYZoMSZbA.jpg,2007-01-01,Take The Bridge,False,10.0,1

In [364]:
movie_va_bw_8_8_9

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/fm6KqXpk3M2HVveHwCrBSSBaO0V.jpg,"[18, 36]",872585,en,Oppenheimer,The story of J. Robert Oppenheimer's role in t...,2287.202,/8Gxv8gSFCU0XGDykEGv7zR1n2ua.jpg,2023-07-19,Oppenheimer,False,8.2,4687
1,False,/pA3vdhadJPxF5GA1uo8OPTiNQDT.jpg,"[28, 18]",678512,en,Sound of Freedom,"The story of Tim Ballard, a former US governme...",637.441,/qA5kPYZA7FkVvqcEfJRoOy4kpHg.jpg,2023-07-03,Sound of Freedom,False,8.1,1484
2,False,/4HodYYKEIsGOdinkGi2Ucz6X9i0.jpg,"[16, 28, 12]",569094,en,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",452.417,/8Vt6mWEReuy4Of61Lnj5Xj704m8.jpg,2023-05-31,Spider-Man: Across the Spider-Verse,False,8.4,4937
3,False,/5YZbUmjbMa3ClvSW1Wj3D6XGolb.jpg,"[878, 12, 28]",447365,en,Guardians of the Galaxy Vol. 3,"Peter Quill, still reeling from the loss of Ga...",295.166,/r2J02Z2OpNTctfOSN1Ydgii51I3.jpg,2023-05-03,Guardians of the Galaxy Vol. 3,False,8.0,5322
4,False,/b1Y8SUb12gPHCSSSNlbX4nB3IKy.jpg,"[12, 14, 16, 35, 10751, 28]",315162,en,Puss in Boots: The Last Wish,Puss in Boots discovers that his passion for a...,273.966,/kuf6dutpsT0vSVehic3EZIqkOBt.jpg,2022-12-07,Puss in Boots: The Last Wish,False,8.3,6627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3735,False,None,[35],24052,en,Strassman Live,Classic Chuck and Ted E. Bear routines accompa...,0.901,None,2001-09-09,Strassman Live,False,8.0,2
3736,False,/r9LXSD79fOEIkzZ1ciTIFtgYH7R.jpg,"[28, 12, 99]",23995,en,Billabong Odyssey,Action sports documentary that follows the ind...,0.600,/xMk6AQCjiBAva8ufU3vpCTQkM0r.jpg,2003-11-07,Billabong Odyssey,False,8.0,3
3737,False,/rC8M9TO7e0fgFlRW8kzrWi8KrAH.jpg,"[99, 10402]",21685,en,As I Lay Dying: This Is Who We Are,The metal band As I Lay Dying perform a number...,0.600,/eUOklJHugxiNVK0jGt1p7OT42Qr.jpg,2009-04-14,As I Lay Dying: This Is Who We Are,False,8.0,1
3738,False,None,[99],17682,en,CIA - America's Secret Warriors,,0.681,None,1997-01-01,CIA - America's Secret Warriors,False,8.3,3
3739,False,/AqL0LNMe16uYBQXYm2KM39Szg17.jpg,"[99, 10402]",13240,en,Jeff Tweedy: Sunken Treasure - Live in the Pac...,Sunken Treasure follows Wilco frontman Jeff Tw...,1.400,/eLqWjnVbBNkXWfFWIojJz8a4EXt.jpg,2006-01-01,Jeff Tweedy: Sunken Treasure - Live in the Pac...,False,8.3,2

In [365]:
movie_va_bw_7_1__7_9

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/kjQBrc00fB2RjHZB3PGR4w9ibpz.jpg,"[878, 28, 53]",670292,en,The Creator,Amid a future war between the human race and t...,2431.528,/vBZ0qvaRxqEhZwl6LWmruJqWE8Z.jpg,2023-09-27,The Creator,False,7.3,920
1,False,/628Dep6AxEtDxjZoGP78TsOxYbK.jpg,"[28, 53]",575264,en,Mission: Impossible - Dead Reckoning Part One,Ethan Hunt and his IMF team embark on their mo...,942.532,/NNxYkU70HPurnNCSiCjYAmacwm.jpg,2023-07-08,Mission: Impossible - Dead Reckoning Part One,False,7.6,2478
2,False,/4XM8DUTQb3lhLemJC51Jx4a2EuA.jpg,"[28, 80, 53]",385687,en,Fast X,Over many missions and against impossible odds...,916.622,/fiVW06jE7z9YnO4trhaMEdclSiC.jpg,2023-05-17,Fast X,False,7.2,4299
3,False,/5a4JdoFwll5DRtKMe7JLuGQ9yJm.jpg,"[28, 12, 878]",695721,en,The Hunger Games: The Ballad of Songbirds & Sn...,64 years before he becomes the tyrannical pres...,772.465,/ePquoeNxJ6vg8U7iSjRAZ2KdztX.jpg,2023-11-15,The Hunger Games: The Ballad of Songbirds & Sn...,False,7.3,245
4,False,/dZbLqRjjiiNCpTYzhzL2NMvz4J0.jpg,"[27, 53]",951491,en,Saw X,"Between the events of 'Saw' and 'Saw II', a si...",664.707,/aQPeznSu7XDTrrdCtT5eLiu52Yu.jpg,2023-09-26,Saw X,False,7.4,1094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6551,False,/qCaUIns7CKiYLvt2UUQEhcEU2wn.jpg,[10402],30151,en,Opeth: Lamentations,"Live performance of Opeth's ""Damnation"" album ...",0.600,/jlgRmKSzbA5vzuTyqJmRDXZnPSf.jpg,2003-11-24,Opeth: Lamentations,False,7.3,5
6552,False,None,[99],22775,en,Forbidden Lies,A dramatized documentary investigating accusat...,0.600,/b5bVHQfXck8cAPf44GUHTD2wdMs.jpg,2007-02-25,Forbidden Lies,False,7.9,7
6553,False,None,[35],18566,en,Mick Øgendahl: Tåfræser,Comedy show featuring Danish stand-up comedian...,0.801,/fpyeaor5P0qjLgJXB6gWGKFj2Jh.jpg,2004-11-08,Mick Øgendahl: Tåfræser,False,7.2,7
6554,False,/xBL1V1rgpJHAbwKS8ccsEQnMv1O.jpg,[99],18204,en,Willi und die Wunder dieser Welt,Nachdem Willi (Willi Weitzel) seiner inzwische...,0.600,/aTIHCZD2Z7VhWlmLLC5mFzrSvyK.jpg,2009-03-05,Willi und die Wunder dieser Welt,False,7.4,5
6555,False,/huyXNfZxZciBJA28rD7pXtbolwG.jpg,[99],13947,en,Indoctrinate U,A hard-hitting yet humorous exposé on the brea...,0.600,/acYRXQxsei3vepirzqPZ9S7iHAG.jpg,2007-09-26,Indoctrinate U,False,7.5,2

In [366]:
top_rated_movies

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",142.683,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.708,18970
1,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,110.139,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,1994-09-23,The Shawshank Redemption,False,8.705,24958
2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,81.257,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.589,11454
3,False,/3f92DMBTFqr3wgXpfxzrb0qv8nG.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,78.504,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.571,14800
4,False,/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",41.837,/ktejodbcdCPXbMMdnpI9BUxW6O8.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.548,4277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8960,False,/lcLyZzhB1ctfdH0hGBsTFrbflqP.jpg,"[28, 14, 27]",12142,en,Alone in the Dark,Edward Carnby is a private investigator specia...,13.162,/bSxrbVCyWW077zhtpuYlo3zgyug.jpg,2005-01-28,Alone in the Dark,False,3.228,550
8961,False,/6JU73g7sse2l3O93HwqYdGawyPA.jpg,"[28, 12, 878]",5491,en,Battlefield Earth,"In the year 3000, man is no match for the Psyc...",16.761,/wXCRuBHdJ5aTFQdsuGJFXNdo79T.jpg,2000-05-12,Battlefield Earth,False,3.223,760
8962,False,/aNUEHLNsNMprLZt6fjf5nqDq6er.jpg,"[27, 28, 53]",11059,en,House of the Dead,"Set on an island off the coast, a techno rave ...",10.937,/z2mDGbV4pLtsvSMNnmnSgoVZSWK.jpg,2003-04-11,House of the Dead,False,3.100,359
8963,False,/oHrrgAPEKpz0S1ofQntiZNrmGrM.jpg,"[28, 12, 14, 878, 53]",14164,en,Dragonball Evolution,"On his 18th birthday, Goku receives a mystical...",23.882,/23PcKOqNdhKeMFzORzQGn5eC44N.jpg,2009-03-12,Dragonball Evolution,False,2.892,1925
8964,False,/wDrs28ZYYnXVIeb87H0dCYlWiFA.jpg,"[53, 14, 10749, 27, 878]",40016,en,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,7.733,/gqmcAVNNUosB55RliecFYnkWT4M.jpg,2010-02-27,Birdemic: Shock and Terror,False,2.090,305

In [369]:
combine_movies = pd.concat([movie_va_above_9,movie_va_bw_8_8_9,movie_va_bw_7_1__7_9,top_rated_movies],ignore_index = True)

In [370]:
combine_movies

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/yDZMgORAmnNZax2goF6S9S5Jkaf.jpg,"[10770, 35, 10749]",1180383,en,Christmas Keepsake,A father bonds with his daughter and stumbles ...,50.860,/v5BbHTclunUKnEEwynuyPdpqNVI.jpg,2023-11-11,Christmas Keepsake,False,9.000,2
1,False,/cOyVMNbUeQ25LGjoaygX00MiIGF.jpg,"[10770, 35, 18, 10749]",1180814,en,Navigating Christmas,Recently divorced Melanie brings her son to a ...,26.855,/lhymboC8cUSr2thd1P0VJjvGgHw.jpg,2023-11-17,Navigating Christmas,False,9.000,2
2,False,/sb6YO8QwlJYJZCYroVWV0psNmXL.jpg,[18],1105832,en,Simón,"Simón, a Venezuelan freedom fighter exiled in ...",29.400,/tPCdIugHiE5wcy4EAwO9wtxFeg3.jpg,2023-04-15,Simón,False,10.000,1
3,False,/s9hcrGnyVxI0yfQXm5olh3LadOG.jpg,[18],1036350,en,An Amish Sin,Rachel is an Amish teen who refuses to obey he...,16.811,/zjNoVOSk1alE9W37uB0S0cQlH5H.jpg,2022-10-29,An Amish Sin,False,9.000,4
4,False,/ncbT2hBlge60umfN904qkkVpm0E.jpg,"[27, 53, 35]",1015080,en,Satanic Hispanics,"When police raid a house in El Paso, they find...",15.638,/8oRsWDVKBiLE7laQLH6uwgmKioE.jpg,2023-09-14,Satanic Hispanics,False,10.000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23003,False,/lcLyZzhB1ctfdH0hGBsTFrbflqP.jpg,"[28, 14, 27]",12142,en,Alone in the Dark,Edward Carnby is a private investigator specia...,13.162,/bSxrbVCyWW077zhtpuYlo3zgyug.jpg,2005-01-28,Alone in the Dark,False,3.228,550
23004,False,/6JU73g7sse2l3O93HwqYdGawyPA.jpg,"[28, 12, 878]",5491,en,Battlefield Earth,"In the year 3000, man is no match for the Psyc...",16.761,/wXCRuBHdJ5aTFQdsuGJFXNdo79T.jpg,2000-05-12,Battlefield Earth,False,3.223,760
23005,False,/aNUEHLNsNMprLZt6fjf5nqDq6er.jpg,"[27, 28, 53]",11059,en,House of the Dead,"Set on an island off the coast, a techno rave ...",10.937,/z2mDGbV4pLtsvSMNnmnSgoVZSWK.jpg,2003-04-11,House of the Dead,False,3.100,359
23006,False,/oHrrgAPEKpz0S1ofQntiZNrmGrM.jpg,"[28, 12, 14, 878, 53]",14164,en,Dragonball Evolution,"On his 18th birthday, Goku receives a mystical...",23.882,/23PcKOqNdhKeMFzORzQGn5eC44N.jpg,2009-03-12,Dragonball Evolution,False,2.892,1925
23007,False,/wDrs28ZYYnXVIeb87H0dCYlWiFA.jpg,"[53, 14, 10749, 27, 878]",40016,en,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,7.733,/gqmcAVNNUosB55RliecFYnkWT4M.jpg,2010-02-27,Birdemic: Shock and Terror,False,2.090,305

In [371]:
combine_movies[[]]

1739

adult                   0
backdrop_path        5514
genre_ids               0
id                      0
original_language       0
original_title          0
overview                0
popularity              0
poster_path          1254
release_date           70
title                   0
video                   0
vote_average            0
vote_count              0
dtype: int64

In [374]:
top_rated_movies.isna().sum()

adult                0
backdrop_path        4
genre_ids            0
id                   0
original_language    0
original_title       0
overview             0
popularity           0
poster_path          2
release_date         0
title                0
video                0
vote_average         0
vote_count           0
dtype: int64

In [375]:
top_rated_movies['id'].duplicated().sum()

67

In [377]:
top_rated_movies =top_rated_movies[['id','original_title','genre_ids','overview','poster_path']]

In [378]:
remove_d_top_rated_movies = top_rated_movies.drop_duplicates(subset= ['id', 'original_title'], keep = 'first')

In [379]:
movies_data =remove_d_top_rated_movies.dropna()

In [382]:
movies_data.reset_index(inplace = True)

In [386]:
df_movie_id   =  movies_data['id']

In [387]:
df_movie_id

0         238
1         278
2         240
3         424
4       19404
        ...
8891    12142
8892     5491
8893    11059
8894    14164
8895    40016
Name: id, Length: 8896, dtype: int64

In [388]:
import requests
actor_d =pd.DataFrame()

for i in df_movie_id :
    url = f"https://api.themoviedb.org/3/movie/{i}/credits?language=en-US"
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMTFhMmVjOTUzNDFlNWFjYjNmNTJhNTkwYmE0MmMyOSIsInN1YiI6IjY1NGIxNjBhNjdiNjEzMDBlNWRjNTI0NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QfeSsm_X8Go05ZVkI1DgLisEPHa4PXMU33z3snuYTV4"
    }
    response = requests.get(url, headers=headers)
    #if response.status_code == 200 :
    
    id   = response.json()['id']

    id = pd.DataFrame({'id': [id]})

    crew = (pd.DataFrame(response.json()['crew']))[['original_name','job']]
    Directors =   crew[crew['job'] == 'Director']['original_name']
    Director  = ','.join(Directors)
    Director = pd.DataFrame({'Director': [Director]})

    cast = pd.DataFrame(response.json()['cast'])[0:3]['original_name']
    Top_3_Actors = ','.join(cast)

    Top_3_Actor = pd.DataFrame({'Top_3_Actor' : [Top_3_Actors]})

    Movies_details = pd.concat([id,Director, Top_3_Actor], axis = 1 )   
    actor_d =pd.concat([actor_d,Movies_details], ignore_index = True)
    

actor_d

KeyError: 'original_name'

In [389]:
actor_d

,id,Director,Top_3_Actor
0,238,Francis Ford Coppola,"Marlon Brando,Al Pacino,James Caan"
1,278,Frank Darabont,"Tim Robbins,Morgan Freeman,Bob Gunton"
2,240,Francis Ford Coppola,"Al Pacino,Robert Duvall,Diane Keaton"
3,424,Steven Spielberg,"Liam Neeson,Ben Kingsley,Ralph Fiennes"
4,19404,Aditya Chopra,"Shah Rukh Khan,Kajol,Amrish Puri"
...,...,...,...
152,475557,Todd Phillips,"Joaquin Phoenix,Robert De Niro,Zazie Beetz"
153,550776,Jim Donovan,"Katie Douglas,David James Elliott,Rossif Suthe..."
154,398818,Luca Guadagnino,"Timothée Chalamet,Armie Hammer,Michael Stuhlbarg"
155,92060,John Landis,"Michael Jackson,Ola Ray,Vincent Price"
156,458220,Fisher Stevens,"Justin Timberlake,Ryder Allen,Juno Temple"

In [390]:
actor_d['id']

0         238
1         278
2         240
3         424
4       19404
        ...
152    475557
153    550776
154    398818
155     92060
156    458220
Name: id, Length: 157, dtype: int64